#paragraph{
    text-align: center;
    font: 16px;
    color: white;
    font: bold;
    font-size: x-large;
    text-shadow: .5em;

}

h1{
    text-align: center;
    color: white;
    font: bold;
    font-size: 80px;

}
