#paragraph{
    text-align: center;
    font: 16px;
    color: white;
    font: bold;
    font-size: x-large;
    text-shadow: 2px 2px black;

}

h1{
    text-align: center;
    color: white;
    font: bold;
    font-size: 80px;
    text-shadow: 2px 2px black;
}
